.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.result {
  color: #fff;
  font-size: 24px;
  text-align: right;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button,
.equals-button {
  background-color: #ff4d4d;
}

button:hover {
  background-color: #444;
}

button:active {
  transform: translateY(1px);
}
